/* Global CSS section */

body {
  background-color: #fff;
  margin: 0 auto;
  font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
}

img {
  max-width: 100%;
}

/* Header section */

header {
  background-color:#333;
  border-bottom: #d3d3d3 1px solid;
  padding: 25px 12px;
  color: #fff;
}

h1 {
  padding:0px;
  margin: 0;
  float:left;
}

nav {
	text-align:right;
}

nav a {
	background: #fff;
	padding: 6px;
	margin-left:5px;
	color: #000;
	text-decoration: none;
	border-radius: 8px;
}

.clear_fix::after {
    content: "";
    clear: both;
    display: table;
}

header p {
  line-height: 1.2;
  padding: 2px;
  margin: 0;
}

.wrapper {
  max-width: 975px;
  margin: 0 auto;
  padding: 0px 10px;
}

/* Main body */

h2 {
  line-height: 1.2;
  padding:2px;
  margin: 20px 0px;
  border-bottom: #000 3px solid;
}

figure {
  margin: 0;
}

#my_journey {
  padding-bottom: 20px;
}

.my_journey_box {
	max-width: 216px;
	float:left;
	margin-right: 10px;
	padding-right: 10px;
	border-right: #d3d3d3 1px dotted;
}

.my_journey_box_final {
	max-width: 216px;
	float:left;
	margin-right: 10px;
	padding-right: 10px;
}

#my_journey img {
	max-height: 40px;
}

#my_journey p {
	margin: 12px 0px;
}

#my_journey h3 {
	margin-bottom: 12px;
}		


#main_section {
  clear:both;
  background:#f2f2f2;
  border-top: #d3d3d3 1px solid;
  border-bottom: #d3d3d3 1px solid;
}

.main_section_box {
  float:left;
  max-width: 300px;
  margin-right:15px;
}

.main_section_box ul {
	list-style-position: inside;
	padding:0;
	margin:20px 10px;
}

.main_section_box li {
	margin-top: 10px;
}

.bold_text {
	font-weight: bold;
}

.final {
	border-right:none;!important
}


blockquote {
  border-left: 5px #000 solid;
  margin: 0;
  padding: 5px 30px;
}

h3 { 
	font-size: 1.03em;
	margin: 0;
	padding:0;
}

/* Footer */

footer {
  clear:both;
  background-color:#fafafa;
  padding: 20px 0px;
  font-size: small;
}

footer p {
	text-align: center;
}
